<a href="https://colab.research.google.com/github/fatima-299/maze/blob/main/Session_1_3__Working_With_Strings_and_Booleans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings and Booleans

## Strings in Python

Strings are one of the most common data types in Python. A string is simply a sequence of characters enclosed in quotes. You can use either single quotes `'...'` or double quotes `"..."` or even triple quotes for multiline printing `'''...'''` or equivalently `"""..."""`. Both create the same type of object.

In [ ]:
t1 = 'This is it'
t2 = "This is it"
t3 = """This is it"""
t4 = '''This is it'''
print(t1)
print(t2)
print(t3)
print(t4)

This is it
This is it
This is it
This is it

In [ ]:
t_multiple = """This
is
a
cool
way
to
see
what
you
get"""
print(t_multiple)

This
is
a
cool
way
to
see
what
you
get

Using double quotes prevents errors when text contains punctuation marks

In [ ]:
t = "That's it"
# You can try the version with simple quotes to understand the mess: 'That's it'
print(t)

That's it

Strings have a length, which you can measure with the built-in function `len()`. This is useful to know how many characters a word or sentence contains.

In [ ]:
len(t)

9

Because strings are sequences, you can access individual characters using indexing. The first character has index `0`, the second has index `1`, and so on. You can also count backwards using negative indexes: `-1` gives you the last character, `-2` the one before it, etc.

In [ ]:
print(t[0])
print(t[1])
print(t[-1])

T
h
t

You can extract parts of a string with slicing. The notation `[start:end]` returns the characters between those positions. Leaving out `start` or `end` will default to the beginning or the end of the string. You can also add a step with `[start:end:step]`. A common trick is `[::-1]`, which reverses a string.

In [ ]:
print(t_multiple[:9])
print()
print(t_multiple[:-20])
print()
print(t_multiple[15:-16])

# Reverse string
print()
print(t[::-1])
print()
print(t[2::-1])
print(t[:2:-1])

This
is
a

This
is
a
cool
way

way
to


ti s'tahT

ahT
ti s't

Strings can be combined with the `+` operator, which concatenates them. You can also repeat strings with the `*` operator. For example, `"Hi" * 3` produces `"HiHiHi"`.

In [ ]:
t1 = "Hello"
t2 = "you"

print(t1 + t2)
print(t1 + 3*t2)

Helloyou
Helloyouyouyou

Splitting and joining are powerful operations. `.split()` breaks a string into a list of words, while `.join()` does the opposite: it glues a list of strings together using a chosen separator.

In [ ]:
# Join
print(' '.join([t1, t2]))
print(', '.join([t1, t2]))

Hello you
Hello, you

In [ ]:
# Split
print(t4.split())
print(t4.split('i'))
print(t_multiple.split())

['This', 'is', 'it']
['Th', 's ', 's ', 't']
['This', 'is', 'a', 'cool', 'way', 'to', 'see', 'what', 'you', 'get']

You can test if a substring exists inside a string with the keyword `in`. For example, `"cat" in "concatenate"` will return `True`. The opposite check is done with `not in`.

In [ ]:
print('this' in t_multiple)
print('this' not in t_multiple)

False
True

Python offers many built-in methods for strings. You can change the case with `.lower()` and `.upper()`. You can remove extra spaces with `.strip()`, or only on one side with `.lstrip()` and `.rstrip()`. You can replace parts of a string with `.replace(old, new)`.

In [ ]:
print(t4.upper())
print(t4.lower())

t5 = '    woowww    '
print(t5.strip())
print(t5.lstrip())
print(t5.replace(' ', 'a'))
print(t5.lstrip().replace(' ', 'a'))
print(t5.rstrip().replace(' ', 'a'))

THIS IS IT
this is it
woowww
woowww
aaaawoowwwaaaa
woowwwaaaa
aaaawoowww

If you need to locate text inside a string, `.find()` and `.index()` return the position of a substring. You can also check beginnings and endings with `.startswith()` and `.endswith()`.

In [ ]:
print(t4.find('T'))
print(t4.find('h'))
print(t4.find('i'))
print(t4.find('s'))
print()
print(t4.find('is', ))  # Th(is) contains "is"!
print(t4.find('it', ))
print()
print(t4.startswith('it'))
print(t4.startswith('this'))  # Case!
print(t4.startswith('This'))
print(t4.lower().startswith('this'))
print()
print(t4.endswith('it'))

0
1
2
3

2
8

False
False
True
True

True

Sometimes you need special characters. These are written with a backslash `\`. For example, `\n` makes a new line, `\t` makes a tab, and `\"` allows quotes inside a string.

In [ ]:
print("Hello\nyou")
print()
print("\tOne")
print("\t\tTwo")
print("\t\t\tThree")
print()
print('That\'s ok actually')

Hello
you

	One
		Two
			Three

That's ok actually

The print function itself has several methods that might be interesting for you

In [ ]:
print("Hello", end='\n\n')
print("you")
print()
print("Hello", end='\t')
print("you")
print()
print("Hello", end='\r')  # Tricky one, useful for dynamic text like in the bus ;)
print("you")

Hello

you

Hello	you

you

Finally, remember that strings in Python are **immutable**. This means you cannot directly change a character once the string is created. Every modification actually creates a new string. As opposed to lists and dictionaries.

### Exercises!

Question

Create a string containing your name and print it.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
s= 'Fatima'
print(s)

Fatima

Question

Find the length of the string `'Python'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
len('Python')

6

Question

Print the first character of the string `'Hello'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
a='Hello'
print(a[0])

H

Question

Slice the string `'AlbertSchool'` to get `'Albert'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

Question

Reverse the string `'Python'` using slicing.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
text = "Python"
reversed_text = text[::-1]

print(reversed_text)

nohtyP

Question

Concatenate `'Hello'` and `'World'` into one string with a space.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
s1 = "Hello"
s2 = "World"

result = s1 + " " + s2
print(result)

Hello World

Question

Repeat the string `'I am a legend, but humble - '` 3 times.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
phrase= 'I am a legend, but humble - '
print(3*phrase)

I am a legend, but humble - I am a legend, but humble - I am a legend, but humble -

Question

Check if `'cat'` is in the string `'concatenate'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
text = "concatenate"

print('cat' in text)

True

Question

Convert the string `'good morning'` to uppercase.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
g= 'good morning'
print(g.upper())

GOOD MORNING

Question

Remove spaces from the string `'   trim me   '`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
text='trim me'
print(text.strip())

trim me

Question

Replace all occurrences of `'a'` with `'o'` in `'banana'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
x='banana'
print(x.replace('a','o'))

bonono

Question

Find the index of `'on'` in `'Python'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
t5='Python'
print(t5.find('on'))

4

Question

Check if `'Python'` starts with `'Py'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(t5.startswith('Py'))

True

Question

Split the string `'I love Python programming'` into words.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
t6='I love Python programming'
print(t6.split())

['I', 'love', 'Python', 'programming']

Question

Join the list `['I','love','Python']` into a string with spaces.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
l=['I','love','Python']
print(" ".join(l))

I love Python

Question

Use an f-string to print: `My name is Alexis and I am getting smarter everyday`.

You should store your own name in a variable that you incorporate in the f-string.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
name = "Alexis"

print(f"My name is {name} and I am getting smarter everyday.")

My name is Alexis and I am getting smarter everyday.

Question

Remove punctuation (`,` and `.`) from `'Hello, world.'`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
text = "Hello, world."

# Remove comma and period
clean_text = text.replace(",", "").replace(".", "")

print(clean_text)

Hello world

Question

Create an acronym from `'World Health Organization'` (WHO).

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
text = "World Health Organization"

# Take the first letter of each word and join them
acronym = "".join(word[0] for word in text.split()).upper()

print(acronym)

WHO

Question

Check if `'radar'` is a palindrome (same forwards and backwards).

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
word = "radar"

# Reverse the string using reversed()
reversed_word = word[::-1]
reversed_word
is_palindorm= word== reversed_word
print(is_palindorm)

True

## Booleans

### Operators of comparison

The following are **operators of comparison**. They enable comparisons between objects of the same type (by default).

The result is a boolean (True or False). The result is often used in conditional structures (if, elif, else).

In [ ]:
# Each object (integers, strings, lists, etc.) has its own operator
# which means that "greater than" when comparing integers
# has a different meaning than "greater than" for comparing lists
# ps: you will see later how to define operators for your own objects
print(1 > 2)
print(1 < 2)
print(1 < 1)
print(1 >= 2)
print(1 <= 2)
print(1 <= 1)
print(1 == 2)
print(1 != 2)
print(1 == 1)
print(1 != 1)
print('a' < 'b')
print('a' > 'b')
print([1] < [2, 3])
print([1] > [2, 3])

False
True
False
False
True
True
False
True
True
False
True
False
True
False

**Contains** operator: available in iterables, not in numbers.

In [ ]:
print(1 in [1, 4, 2])
print(1 in [4, 2])
print([1] in [1, 4, 2])
print([1] in [[1], 4, 2])
print('a' in 'oisj')
print('a' in 'oiasj')

True
False
False
True
False
True

Check if element is (True, False) or if it even exists

In [ ]:
print(True is True)
print(True is False)

print([1] is None)
x = 12
print(x is None)
x = None
print(x is None)

import numpy as np
print(x is np.nan)

True
False
False
False
True
False

**Negation** operator: not

In [ ]:
print(1 == 1)
print(not 1 == 1)
print(1 != 1)
print(not 1 != 1)

True
False
False
True

### Exercises!

Question  
Check if 5 is greater than 2.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(5>2)

True

Question  
Check if 10 is equal to 7.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(10==7)

False

Question  
Check if 3 is not equal to 4.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(3!=4)

True

Question  
Check if "apple" is less than "banana".

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
x1='apple'
x2='banana'
print(x1<x2)

True

Question  
Check if "zebra" is greater than "lion".

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print("zebra">"lion")

True

Question  
Check if the number 2 is in the list `[1, 2, 3, 4]`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(2 in [1,2,3,4])

True

Question  
Check if the number 5 is not in the list `[1, 2, 3, 4]`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(5 in [1,2,3,4])

False

Question  
Check if the string `"a"` is inside the string `"cat"`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print('a' in 'cat')

True

Question  
Check if the string `"dog"` is inside the list `["cat", "dog", "mouse"]`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print("dog" in ["cat", "dog", "mouse"])

True

Question  
Check if the value associated with key `"age"` in the dictionary  `{"name": "John", "age": 30}` is equal to 30.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
person = {"name": "John", "age": 30}

is_age_30 = person["age"] == 30

print(is_age_30)

True

Question  
Check if the dictionary `{"a": 1, "b": 2}` contains the key `"a"`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dic={"a":1, "b":2}
print("a" in dic)

True

Question  
Check if the dictionary `{"a": 1, "b": 2}` contains the value `3`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(3 in dic)

False

Question  
Check if True is equal to False.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(True==False)

False

Question  
Check if None is equal to None.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(None==None)

True

Question  
Assign `x = None`. Check if `x is None`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
x=None
print(x is None)

True

Question  
Check if not (3 == 3).

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(not(3==3))

False

Question  
Check if not (4 != 4).

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(not(4!=4))

True

Question  
Check if `[1, 2]` is equal to `[1, 2]`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print([1,2]==[1,2])

True

Question  
Check if `[1, 2]` is not equal to `[2, 1]`.

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print([1,2]!=[2,1] )

True

Question  
Use the internal method to check if the list `[10, 20, 30]` contains `20`.  (Hint: use `.__contains__()`).

In [ ]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[10,20,30]
print(numbers.__contains__(20))

True