<a href="https://colab.research.google.com/github/fatima-299/maze/blob/main/Session_1_2__Understanding_Python_Objects_and_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Essentials in Python Language<a class=anchor id=python_essentials></a>

### Variables

A `variable` is used to **store** information. It's an essential concept that makes programming (and even computers) possible.

Let's store the age of Tom in a variable named `age_tom`

In [3]:
# Store the number 1 in a variable named 'age_tom'
age_tom = 18

In [4]:
# Display the number 1 contained in the variable 'age_tom' (using the function 'print')
print(age_tom)

18

In [5]:
# Use this number for a basic operation (imagine Tom's birthday)
age_tom = age_tom + 1

In [6]:
print(age_tom)

19

We can store the age of another person at the same time, by using a variable with a different name: e.g. `age_kim`

In [7]:
age_kim = 21

In [8]:
print(age_kim)

21

We can make interesting operations with these variables, e.g. compute the average age

In [9]:
age_average = (age_tom + age_kim) / 2

In [10]:
print(age_average)

20.0

**Tip**: We don't actually need to use the function `print` to display the value contained in a variable, when the variable is the last line of a code cell. See example below

In [11]:
# Display the average age without using the function print (only possible in a Jupyter Notebook, not in a Python script)
age_average

20.0

**Tip2**: You can use the shortcut `var += 1` instead of `var = var + 1` for avoiding repetition when applying addition to the same variable.

In [12]:
age_kim += 1
age_kim

22

#### Beware! Scope of Variables

The *scope* of a variable refers to the part of a program where that variable can be accessed or modified. In Python, variables defined inside a function are **local** to that function: they exist only while the function runs and cannot be used outside of it. Variables defined outside of any function are **global**, meaning they can be read from anywhere in the program, although modifying them from inside a function requires special care. Python also supports **enclosing** (variables defined in an outer function) and **built-in** (names provided by Python itself, like `len` or `print`) scopes. Understanding scope is important because it prevents unintended interactions between different parts of your code and helps keep programs predictable and organized.

The priority follows the LEGB rule (see below).

In [13]:
x = "global"   # G (Global)

def outer():
    x = "enclosing"  # E (Enclosing)

    def inner():
        x = "local"  # L (Local)
        print(x)     # -> "local

    inner()
    print(x)         # -> "enclosing"

outer()
print(x)             # -> "global"
print(len([1,2,3]))  # -> 3 B (Built-in)

local
enclosing
global
3

If you define the variable `len = 42` globally, then `len([1,2,3])` will not work anymore, because you have overriden the built-in function len.

### Data types / structures<a class=anchor id=data_structures></a>

*So* far we have stored **integers** in the variables, i.e. numbers without leading values after the comma: e.g. 18.

There also exists **floats**, i.e. numbers with values after the comma. If you look closely, the variable `age_average` actually contains a float. This is the result of the (true) division operator.

Let's see which other types exist:

In [14]:
# Text and numbers
12         # int (integer)
1.5        # float
'hola'     # str (string)
"hola"
"""hola"""

# Iterables
[42, 58, 209, 42]  # list
(42, 58, 209, 42)  # tuple (we won't use it in this class)
{42, 58, 209}      # set (unique values / no duplicates)
{'name': ['akiko', 'julie'], 'age': [12, 43]}  # dict (dictionary)

# In this dictionnary there are 2 keys 'name' and 'age' with values
# respectively 'akiko' and 'julie' and 12 and 43.
# The values of this dictionnary are stored in a list [].
# It would be impossible to store multiple values for the same key otherwise.

{'name': ['akiko', 'julie'], 'age': [12, 43]}

--------------------------------
Question

1. Store the integer 12 in a variable named int_12
2. Store the float 12 in a variable named float_12
3. Store the string 12 in a variable named str_12

In [15]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
int_12=12
float_12= 12.0
str_12='12'

Verify their type using the function named `type`

In [16]:
from __future__ import print_function
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(type(int_12))
print(type(float_12))
print(type(str_12))

<class 'int'>
<class 'float'>
<class 'str'>

--------------------------------
Question

1. Create a list containing: 12, 13, 14 that you store in the variable 'l' (the first letter of list)
3. Create a dictionary where the key is 'emotion' and the values are: 'happy', 'sad' and 'excited', that you store in d.

In [17]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
l=[12,13,14]
d={'emotion':['happy','sad','excited']}
print(l)
print(d)
print(d['emotion'])

[12, 13, 14]
{'emotion': ['happy', 'sad', 'excited']}
['happy', 'sad', 'excited']

Let's see how to get unique values from a list using the function `set`

In [18]:
l = [42, 58, 58, 58, 209, 42, 42, 42]
set(l)

{42, 58, 209}

--------------------------------
Question

1. Create a list containing: 12, 13, 14, 12
2. Store the list into a variable named: lst
3. Get unique values from the list

In [19]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
lst=[12,13,14,12]
set(l)

{42, 58, 209}

### Standard math operations

In [20]:
print(7 + 2)
print(7 - 2)
print(7 * 2)
print(7 / 2)  # standard division
print(7 // 2)  # only the integer part of the division
print(7 % 2)  # only the remainder
print(7 ** 2)  # squared (power of two)

9
5
14
3.5
3
1
49

### Internal methods of operators

View an object internal methods: the symbols used (>, !=, +, etc.) are actually shorcuts for internal methods (functions) of these objects

In [21]:
print(dir(3)[:7])
print(dir([1, 2, 3])[:7])

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__']

Use the internal method directly

In [22]:
# Integers
x = 10
y = x.__add__(2)
print(y)

12

In [23]:
# Lists
[1, 2, 3].__contains__(2)

True

### Lists operations
A list is an iterable (we can extract every element iteratively). There exist 4 very useful methods to work with them.

#### 1. Extracting one or multiple elements

In [24]:
l = ['a', 'b', 'c']

# Q1: Display the first element
print('q1:', l[0])
# Q2: Display the second element
print('q2:', l[1])
# Q3: Display the third element
print('q3:', l[2])

# Q4: Display the last element
print('q4:', l[-1])
# Q5: Display the before last element
print('q5:', l[-2])

# Q6.1: Display the first two elements
print('q6.1:', l[0:2])
# Q6.2: Same, but more canonical
print('q6.2:', l[:2])

# Q7.1: Display the first three elements
print('q7.1:', l[0:3])
# Q7.2: Same, but more canonical
print('q7.2:', l[:3])

# Q8: Display the last two elements
print('q8:', l[-2:])
# Q9: Display the last three elements
print('q8:', l[-3:])

# What is the type of the object returned when only a single element is extracted?
# What is the type of the object returned when multiple elements are extracted at the same time?

q1: a
q2: b
q3: c
q4: c
q5: b
q6.1: ['a', 'b']
q6.2: ['a', 'b']
q7.1: ['a', 'b', 'c']
q7.2: ['a', 'b', 'c']
q8: ['b', 'c']
q8: ['a', 'b', 'c']

#### 2. Adding a new element

In [25]:
l.append('d')
l

['a', 'b', 'c', 'd']

In [26]:
l.append('e')
l

['a', 'b', 'c', 'd', 'e']

Using the method `append` the element is added at the end of the list (which is the most common use case)

#### 3. Modifying an element

1. You first need to know the position of the element in the list.
2. Then you can modify the element located at this position.

In [27]:
# Let's modify the first element
l[0] = 'A'
l

['A', 'b', 'c', 'd', 'e']

In [28]:
# Let's modify the last element
l[-1] = 'E'
l

['A', 'b', 'c', 'd', 'E']

In [29]:
# Let's modify the second element
l[1] = 'B'
l

['A', 'B', 'c', 'd', 'E']

#### 4. Deleting an element

It's actually less common to delete elements belive it or not

In [30]:
# Remove the first element (A)
l.pop(0)
l

['B', 'c', 'd', 'E']

In [31]:
# Remove the first element (B), since the very first (A) has already been deleted
l.pop(0)
l

['c', 'd', 'E']

In summary, when working with lists the location of elements in the list is a fundamental information.

The dictionnaries have a totally different behavior: the key is used to locate elements (respective values), but there is no such thing as a position / location.

#### Exercises!

Question

1. Create a list named 'fruits' containing the elements "apple", "banana", and "cherry".

In [32]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
fruits=['apple','banana','cherry']

Question

2. Access the first element of the list 'fruits' and assign it to a variable named 'first_fruit'.

In [33]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
first_fruit=fruits[0]
print(first_fruit)

apple

Question

3. Change the second element of the list 'fruits' to "orange".

In [34]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
fruits[1]='orange'
fruits

['apple', 'orange', 'cherry']

Question

4. Add "grape" to the end of the list 'fruits'.

In [35]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

fruits.append('grape')
fruits

['apple', 'orange', 'cherry', 'grape']

Question

5. Insert "kiwi" as the second element in the list 'fruits'.

In [36]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
fruits.insert(1,'kiwi')

Question

6. Remove "banana" from the list 'fruits'.

In [37]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
fruits

['apple', 'kiwi', 'orange', 'cherry', 'grape']

Question

7. Remove the last element from the list 'fruits' using the pop method.

In [38]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
fruits.pop(-1)
fruits

['apple', 'kiwi', 'orange', 'cherry']

Question

8. Create a list of numbers from 1 to 5 named 'numbers'.

In [39]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[1,2,3,4,5]
numbers

[1, 2, 3, 4, 5]

Question

9. Find the length of the list 'numbers' and store it in a variable called 'length'.

In [40]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
length=len(numbers)
print(length)

5

Question

10. Use list indexing to get the last element of 'numbers'.

In [41]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers[-1]

5

Question

11. Concatenate two lists: a = [1, 2, 3] and b = [4, 5, 6] into a new list 'c'.

In [42]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
a=[1,2,3]
b=[4,5,6]
c=a+b
c

[1, 2, 3, 4, 5, 6]

Question

12. Repeat the list [0] five times and store the result in a variable named 'zeros'.

In [43]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
l=[0]
zeros=l*3
zeros

[0, 0, 0]

Question

13. Create a list 'mixed' that contains an integer, a string, and a float.

In [44]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
mixed=[1,2.0,'3']
mixed

[1, 2.0, '3']

Question

14. Slice the list numbers = [10, 20, 30, 40, 50] to get only the first three elements.

In [45]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[10,20,30,40,50]
print(numbers[:3])

[10, 20, 30]

Question

15. Slice the list numbers to get only the last two elements.

In [46]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(numbers[-2:])

[40, 50]

Question

16. Create a new list named 'squares' that contains the square of 1, 2, 3, and 4 (i.e. [1, 4, 9, 16]).

In [47]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
lst = [1, 2, 3, 4]
squares = []

for n in lst:
    squares.append(n ** 2)

print(squares)

[1, 4, 9, 16]

Question

17. Check if "apple" is in the list 'fruits' and store the result in a variable 'has_apple'.

In [48]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
has_apple = "apple" in fruits
print(has_apple)

True

Question

18. Sort the list numbers = [3, 1, 4, 2] in ascending order.

In [49]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[3,1,4,2]
numbers.sort()
numbers

[1, 2, 3, 4]

Question

19. Reverse the list 'numbers' so it becomes [2, 4, 1, 3].

In [50]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[3,1,4,2]
numbers.reverse()
numbers

[2, 4, 1, 3]

Question

20. Use the min and max functions to find the smallest and largest elements in the list numbers = [8, 3, 5, 1, 9]. Store them in variables 'minimum' and 'maximum'.

In [51]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
numbers=[8,3,5,1,9]
maximum = max(numbers)
minimum = min(numbers)

print("Maximum:", maximum)
print("Minimum:", minimum)

Maximum: 9
Minimum: 1

### Dictionaries

Ensemble of pairs: (key, value)

You should not consider dictionaries as **ordered** iterators. They don't have order. They have **keys** to refer to values instead.

Let's see different ways to create the dictionary as per PEP8 conventions. These produce exactly the same result.

In [52]:
dico = {'surname': ['jp', 'pa', 'ma', 'fo'], 'name': ['aba', 'chd', 'oih', 'iouh'], 'age': [12, 23, 40, 8]}

dico = {'surname': ['jp', 'pa', 'ma', 'fo'],
        'name': ['aba', 'chd', 'oih', 'iouh'],
        'age': [12, 23, 40, 8]}

dico = {
    'surname': ['jp', 'pa', 'ma', 'fo'],
    'name': ['aba', 'chd', 'oih', 'iouh'],
    'age': [12, 23, 40, 8],
}

dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8]}

--------------------------------
Question

1. Create a dictionary named 'transactions' containing:
    - keys: date and amount
    - with respective values:
      - 2025-09-01 and 2025-09-02
      - 1200 and 5000

In [53]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
transactions={'date':['2025-09-1', '2025-09-2'],'amount':[1200,1500]}
transactions

{'date': ['2025-09-1', '2025-09-2'], 'amount': [1200, 1500]}

Question

1. Create a dictionary named 'dico_stu' containing:
    - keys: pilou, balo, pata, mani, tika
    - respective values of their age: 120, 140, 145, 110, 115

Becareful the form of this dictionary is different from above:
- In the above example there are 2 keys with 2 values each respectivelly
- In this question there are 5 keys with 1 value each only (each person has only 1 age)

In [54]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico_stu={'pilou':120,'balo':140,'pata':145,'mani':110,'tika':115}
dico_stu

{'pilou': 120, 'balo': 140, 'pata': 145, 'mani': 110, 'tika': 115}

#### Extract info from dictionary

It's great to know how to store information in a structure like a dictionnary. It's even better to know how to extract the information previously stored.

In [55]:
# Extract / get the surnames in dico
dico['surname']

['jp', 'pa', 'ma', 'fo']

In [56]:
# Extract / get the names
dico['name']

['aba', 'chd', 'oih', 'iouh']

We can actually get all the keys or values using the corresponding `method` of dictionnaries

In [57]:
# Get everything
dico.items()

dict_items([('surname', ['jp', 'pa', 'ma', 'fo']), ('name', ['aba', 'chd', 'oih', 'iouh']), ('age', [12, 23, 40, 8])])

In [58]:
# Get the keys only
dico.keys()

dict_keys(['surname', 'name', 'age'])

In [59]:
# Get the values only
dico.values()

dict_values([['jp', 'pa', 'ma', 'fo'], ['aba', 'chd', 'oih', 'iouh'], [12, 23, 40, 8]])

#### Add info to dicotionary

In [60]:
# Add a key with its value
dico['origin'] = 'earth'

In [61]:
# Add value to existing key
# Possible only if the corresponding value is contained in a list
# (which is the case here, with the key age containing multiple values stored as a list)
dico['age'].append(43)

In [62]:
# Check the modifications
dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8, 43],
 'origin': 'earth'}

We observe that lists of the dictionary do not need to be of same length.

Actually, the values in a dictionnary can be of any type.

In [63]:
# Let's store a single character (str)
dico['country'] = 'a'

In [64]:
dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8, 43],
 'origin': 'earth',
 'country': 'a'}

In [65]:
# Let's replace existing key/values (the dumb 'a' added above)
dico['country'] = ['fr', 'gb', 'us', 'es']

In [66]:
dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8, 43],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es']}

In [67]:
# Add a new key with a function as value
# This is only to show you that a value can contain anything in a dictionnary
dico['objects'] = print

# You can see that we wrote 'print' instead of 'print()'.
# Adding parenthesis after the name of the function is only used to execute the function.
# Here we only wanted to add the reference of the function (instead of executing the function).

In [68]:
dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8, 43],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>}

#### Exercises!

Question

Print the list of all ages stored in the dictionary.

In [69]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['age']

[12, 23, 40, 8, 43]

Question

Access and print the first element of the `surname` list.

In [70]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['surname'][0]

'jp'

Question

Access and print the last element of the `name` list.

In [71]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['name'][-1]

'iouh'

Question

Access and print the maximum age from the `age` list.

In [72]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
max(dico['age'])

43

Question

Access and print the minimum age from the `age` list.

In [73]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
min(dico['age'])

8

Question

Add a new key `city` with the values `['Paris','London','NYC','Madrid']`.

In [74]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['city']=['Paris','London','NYC','Madrid']
dico

{'surname': ['jp', 'pa', 'ma', 'fo'],
 'name': ['aba', 'chd', 'oih', 'iouh'],
 'age': [12, 23, 40, 8, 43],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'city': ['Paris', 'London', 'NYC', 'Madrid']}

Question

Add a new surname `'zi'` with name `'lou'` and age `30` (update all three lists).

In [75]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['surname'].append('zi')
dico['name'].append('lou')
dico['age'].append(30)
dico

{'surname': ['jp', 'pa', 'ma', 'fo', 'zi'],
 'name': ['aba', 'chd', 'oih', 'iouh', 'lou'],
 'age': [12, 23, 40, 8, 43, 30],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'city': ['Paris', 'London', 'NYC', 'Madrid']}

Question

Replace the second element of `surname` with `'xx'`.

In [76]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['surname'][1]='xx'
dico

{'surname': ['jp', 'xx', 'ma', 'fo', 'zi'],
 'name': ['aba', 'chd', 'oih', 'iouh', 'lou'],
 'age': [12, 23, 40, 8, 43, 30],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'city': ['Paris', 'London', 'NYC', 'Madrid']}

Question

Replace the last element of `age` with `99`.

In [77]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico['age'][-1]=99
dico

{'surname': ['jp', 'xx', 'ma', 'fo', 'zi'],
 'name': ['aba', 'chd', 'oih', 'iouh', 'lou'],
 'age': [12, 23, 40, 8, 43, 99],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'city': ['Paris', 'London', 'NYC', 'Madrid']}

Question

Remove the third element of `name`.

In [78]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico

{'surname': ['jp', 'xx', 'ma', 'fo', 'zi'],
 'name': ['aba', 'chd', 'oih', 'iouh', 'lou'],
 'age': [12, 23, 40, 8, 43, 99],
 'origin': 'earth',
 'country': ['fr', 'gb', 'us', 'es'],
 'objects': <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 'city': ['Paris', 'London', 'NYC', 'Madrid']}

Question

Compute the average age from the `age` list.

In [79]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
average = sum(dico['age'])/ len(dico['age'])
average

37.5

Question

Create a list of tuples combining each surname and its corresponding name.

In [80]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
combined = list(zip(dico['surname'], dico['name']))
combined

[('jp', 'aba'), ('xx', 'chd'), ('ma', 'oih'), ('fo', 'iouh'), ('zi', 'lou')]

Question

Create a dictionary `ages_dict` where each surname is a key and the corresponding age is the value.

In [81]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
ages_dict = dict(zip(dico['surname'], dico['age']))

ages_dict

{'jp': 12, 'xx': 23, 'ma': 40, 'fo': 8, 'zi': 43}

Question

Create a dictionary `ages_dict` where each surname is a key and the corresponding age is the value.

Question

Create a dictionary `ages_dict` where each surname is a key and the corresponding age is the value.

Question

1. Get the age of pata
2. Get the age of tika

In [82]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print(dico_stu['pata'])
print(dico_stu['tika'])

145
115

Question

1. Add new pairs of key/value to dico_stu:
- keys: bibi, theo, bidule
- respective values: 130, 140, 1000
1. Change the value of existing key/values:
- set pilou at 121
- set balo at 141

In [124]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
dico_stu['bibi']=130
dico_stu['theo']=140
dico_stu['bidule']=1000
dico_stu['pilou']=121
dico_stu['balo']=141
dico_stu

{'pilou': 121,
 'balo': 141,
 'pata': 145,
 'mani': 110,
 'tika': 115,
 'theo': 140,
 'bidule': 1000,
 'bibi': 130}

Question

1. Delete the key bibi

In [123]:
from ast import Add
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####

Question

1. Add the values of theo and pilou
2. Compute the average of theo and pilou values

In [85]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
print((dico_stu['theo']+dico_stu['pilou']))
print("average=",(dico_stu['theo']+dico_stu['pilou'])/2)

261
average= 130.5

### Chaining operations

We can actually use a combination of functions. To understand how it works you should mentally replace each operation by its result. Each operation is applied on the result of the previous set of operations

In [86]:
# Extract the first element of the list contained in the key 'surname'
# First, understand how to extract the list contained in the dictionnary under the key 'surname'
print(dico['surname'])

# Second, since we know how to obtain the list, we can simply use the method to extract elements of a list
# Using the square brackets and the number indicating the position of the element to extract (here 0 for the first)
print(dico['surname'][0])

['jp', 'xx', 'ma', 'fo', 'zi']
jp

In [87]:
# Extract the second element of the list contained in the key 'surname'
print(dico['surname'][1])

# Extract the last element of the list contained in the key 'age'
print(dico['age'][-1])

xx
99

In [88]:
# Execute the function print contained in the dictionary under the key 'objects'

# First, extract the function print
print(dico['objects'])

# Second, execute the function since dico['objects'] is equivalent to print
# Thus make a standard use of it with parenthesis containing a text print('ok')
dico['objects']('ok')

<built-in function print>
ok

In [96]:
# Let's use some functions from the standard library

# Join all surnames and separate them with a dash
print('-'.join(dico['surname']))

# Then put them in capital letters
print('-'.join(dico['surname']).upper())

# Then extract the third and fourth letters
print('-'.join(dico['surname']).upper()[3:5])

# Then transform them back to lower letters
print('-'.join(dico['surname']).upper()[3:5].lower())

# Instead of extracting them, keep the whole suite of letters with the same modifications than above
# This could be done with a cleaner and code, but we keep it complex to make a point (see in next cell)
'-'.join(dico['surname']).upper()[:3] + '-'.join(dico['surname'])[3:5] + '-'.join(dico['surname']).upper()[5:]

# Do the same with a shorter one-liner
'-'.join(dico['surname']).upper()[:3] + '-'.join(dico['surname'])[3:5] + '-'.join(dico['surname']).upper()[5:]

jp-xx-ma-fo-zi
JP-XX-MA-FO-ZI
XX
xx

'JP-xx-MA-FO-ZI'

In [90]:
# Okkkkkk we get it! Its possible to compose functions indefinitely, but its not digestible anymore.
# Let's use variables for intermediate steps, and appreciate how its way clearer
# Even though it requires more lines of code, its easier to understand and maintain (so its definitely prefered)
surnames_combined = '-'.join(dico['surname'])
surnames_combined_upper = surnames_combined.upper()

middle_letters = surnames_combined[3:5]

start_letters = surnames_combined_upper[:3]
end_letters = surnames_combined_upper[5:]

full_combination = start_letters + middle_letters + end_letters
full_combination

'JP-xx-MA-FO-ZI'

In [91]:
# That was clearer but very verbosy!
# Depending on the use case we should try to use the best balance between short code vs long and readable
# V1
surnames_combined = "-".join(dico["surname"])
full_combination = surnames_combined.upper()[:3] + surnames_combined[3:5] + surnames_combined.upper()[5:]
print(full_combination)

# V2
surnames_combined = "-".join(dico["surname"]).upper()
full_combination = surnames_combined[:3] + surnames_combined[3:5].lower() + surnames_combined[5:]
print(full_combination)

JP-xx-MA-FO-ZI
JP-xx-MA-FO-ZI

In [92]:
# Eventually we can accept to name the variable in a more compact way if it is not used lated in the code (here 's')
# Please don't name variables like this if used later in the code, because you would not understand what 's' means
# which would force you to go back to this portion of code to understand what 's' means before using it.
# Ideally we want the variable name to be self-explanatory and obvious enough to avoid having to go back to the portion
# of code where it was defined (imagine doing this for each line of code, it would be a big time waste)
s = "-".join(dico["surname"])
full_combination = s.upper()[:3] + s[3:5] + s.upper()[5:]
full_combination

'JP-xx-MA-FO-ZI'

In [97]:
# We can even make use of more advanced coding practices, but if its not clearer, its better to use the long verbosy version
# We'll explore the lambda version later in this notebook
(lambda s: s[:3].upper() + s[3:5] + s[5:].upper())("-".join(dico["surname"]))

'JP-xx-MA-FO-ZI'

___________________

Question

1. Store 'machin' and 'bidule' in variables named val1 and val2
2. Create this text from the two variables: 'mAcHiN-BiDuLe'

In [104]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
val1="machin"
val2="bidule"
stylize = lambda s: ''.join(c.upper() if i % 2 == 0 else c.lower() for i, c in enumerate(s))

result = f"{stylize(val1)}-{stylize(val2)}"
print(result)

MaChIn-BiDuLe

Question

1. Using the function join, combine the values of pilou and bibi from dico_stu. The result should be like this: '121-130' (hint: be careful, the values are initially integers, the join function only works for string values).

In [133]:
### =====                ==== ####
###       YOUR CODE HERE      ####
### =====                ==== ####
val1 = dico_stu["pilou"]
val2 = dico_stu["bibi"]
print(val1,val2)
result = '-'.join([str(val1),str(val2)])
print(result)  # '121-130'

121 130
121-130